

<% if (success && success.length) { %>
  <% success.forEach(msg => { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }) %>
<% } %>


<%if(error && error.length){%>
    <% error.forEach(err => { %>
        <div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between align-items-center" role="alert">
            <%= err %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }) %>
<%}%>