<nav class="navbar navbar-expand-lg sticky-top border-bottom bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-sharp fa-solid fa-compass"></i></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
      aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <!-- Left side links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
        
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex" role="search" action="/listings/search" method="get">
          <input name="category" class="form-control me-2" type="search" placeholder="Search By Category" aria-label="Search"/>
          <button class="btn btn-dark" type="submit">Search</button>
      </form>
      </ul>

      <!-- Right side auth links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add Listing</a>
        </li>
        <% if(!currUser){%>
        <li class="nav-item">
          <a class="nav-link" href="/signUp"><b>Sign Up</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Log in</b></a>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><b>Logout</b></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
