<% layout("layouts/boilerplate.ejs")%>
<body>
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <h1>Create New Listing</h1>
        <br><br>
        <div class="mb-3">
            <label class="form-label" for="title">Title:</label>
            <br>
            <input type="text" name="title" placeholder="Title" class="form-control" required>
            <div class="invalid-feedback">
                Please choose a valid title.
            </div>
            <div class="valid-feedback">
                It looks catchy
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="description">Description:</label>
            <br>
            <textarea class="form-control" name="description" id="description" placeholder="Enter Description" required></textarea>
            <div class="invalid-feedback">
                Please enter a short description.
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="listing[image]">Image:</label>
            <br>
            <input type="file" class="form-control" name="listing[image]" placeholder="Enter Image URL" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price:</label>
            <br>
            <input  class="form-control" name="price" placeholder="Enter Price" required>
            <div class="invalid-feedback">
                Please choose valid price.
            </div>
        </div>

        <div>
            <label class="form-label" for="category">Category:</label>
            <select class="form-control" name="category" id="category" required>
                <option disabled selected>Select a category</option>
                <option value="Beach">Beach</option>
                <option value="Mountain">Mountain</option>
                <option value="City">City</option>
                <option value="Village">Village</option>
                <option value="Poolside">Poolside</option>
                <option value="Bar">Bar</option>
                <option value="Sports">Turf</option>
                <option value="Lake">Lake</option>

            </select>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="location">Location:</label>
                <br>
                <input type="text" class="form-control" name="location" placeholder="Enter Location" required>
                <div class="invalid-feedback">
                    Please choose a valid location.
                </div>
            </div>
            
            <div class="mb-3 col-md-6">
                <label for="country" >Country:</label>   
                <br>
                <input type="text" class="form-control" name="country" placeholder="Enter Country" required>
                <div class="invalid-feedback">
                    Please choose a valid country.
                </div>
            </div>
        </div>
        <button class="btn btn-dark">Submit</button>
        <br><br>
    </form>
    </div>
    </div>
</body>
</html>