<% layout("layouts/boilerplate.ejs")%>
<body>
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <form action="/login" method="post" novalidate class="needs-validation">
        <h2>Login on Wanderlust</h2>
        <br>
        <div class="mb-3">
            <label class="form-label" for="usernsme">Username:</label>
            <br>
            <input id="username" type="text" name="username" placeholder="Username" class="form-control" required>
            <div class="invalid-feedback">
                Please Enter Username.
            </div>
            <div class="valid-feedback">
                It looks Unique
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <br>
            <input id="password" type="password" name="password" placeholder="Password" class="form-control" required>
            <div class="invalid-feedback">
                Please Enter Password.
            </div>
            <div class="valid-feedback">
                Thanks
            </div>
        </div>
        
        <button class="btn btn-dark">Login</button>
        <br><br>
    </form>
    </div>
    </div>
</body>
</html>